# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#ignore build directories
build/
viikkotehtava1/build
viikkotehtava2test2/build
mittari/
test/
Viikko1Lisatehtavia/
Viikko2Lisatehtava1/build
viikko1lisatehtava/
viikkotehtava1lisatehtava/
mittari
test
viikko2lisatehtava2/build
viikkotehtava3/build
Pankkitilitehtava/build
Viikkotehtava4/build